
.content{
    margin-left: 20px;
    padding-bottom: 10px;
   
 
    
    
   
}
 .content h1{
    font-size: 20px;
    font-weight: bolder;
    padding-top: 5px;
    margin-bottom: -15px;
 }

::-webkit-scrollbar{
    display: none;
}
.movie-content{
    display: flex;
    overflow-x: scroll;
    margin-top: 20px;
   

}
.movie{
    width: 400px;
    height: 200px;
    margin-right: 20px;
    transition: 460ms;
}
.movie:hover{
    transform: scale(1.06);
}

.movie_poster{
    /* height: 200px; */
    width: 400px;
}
